/* ---------import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

body{

  background-repeat: no-repeat;
    background: linear-gradient(rgba(3, 32, 60, 0.99) 100%, rgba(0, 0, 0, 0.9) 50%),
      url("./images/3239444.jpg");
    margin: 0px auto !important;
    background-size: cover;
    margin: 0px auto;
   
    
}



a {
	text-decoration: none;
}

header {
	
	padding: 20px;
	color: #000;
  background-color: #dedee1;
}

.logo{
    margin-left: 0px;
}

header a {
	color: #3E4794;
    font-weight: 600;
    font-family: montserrat;
    font-size: 18px;
    
}
#toggle {
	display: none;
}

div .icon{
    display: block !important;
}

#toggle:checked + .nav-links {
	display: block;
}
.head{
    display: flex;
    justify-content: space-between;
}


header .nav-links {
	display: none;
}

header label {
	cursor: pointer;
	position: relative;
}

header .nav-links {
	display: none;
}


.nav-links li a:hover{
    color: #e34e0f;
    font-weight: 900;
    font-family: montserrat;
    font-size: 18px;
}

.icon {
	width: 30px;
}
.icon div {
	height: 3px;
	background: red;
	margin: 3px 0;
}





.nav-links {
	list-style: none;
}

.nav-links li {
	padding: 20px 0;
}

.nav-links li:nth-child(1) {
	padding-top: 40px;
}

.nav-links1 {
    list-style: none;
}

.nav-links1 {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-btn{
 
   
    background-image: linear-gradient(-90deg, #FF8ADC, #965CF2);
    font-family: Hind Siliguri;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 6px 30px;
   border-radius: 26px;
    
}


/* home section */

.home{
  background: linear-gradient(300deg, rgba(3, 32, 60, 0.8) 10%, #3f3c3c80 100%);
  display: inline-block;
  margin-top: 100px;
  width: 100%;
  padding: 30px;
  border-radius: 32px;
  margin-left: 0px;
  padding-top: 100px;
  

}

.home-image{
  margin-left: 10px;
 
}

.home-img{
  border-radius: 50%;
  border: 5px solid #2e07f1;
  width: 100%;
}

.home-content{
 
  margin-left: 10px;
  margin-top: 100px;
  background-color: #6c6b70;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  height: 200px;
}

.home-content>h1{
  font-family: montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 40px;

 
}

.about{
  background: linear-gradient(rgba(3, 32, 60, 0.8) 0%, #3f3c3c80 100%);
  display: flex;
  margin-top: 30px;
  width: 80%;
  padding: 50px;
  border-radius: 32px;
  margin-left: 100px;
}

.home-content li a{
  text-decoration: underline;
  font-family: montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  position: relative;
  top: -15px;
}


.item-home{
  margin-top: 20px;
  margin-left: 50px;
}

.home-content li{
  list-style-image: url(./images/bullet.png)
  
}

#about>h1{
  
  font-family: montserrat;
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 100px;
  text-align: center;
}

.about-content{
  margin-right: 120px;
  font-family: montserrat;
  font-size: 26px;
  line-height: 42px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}


/* about me */

#about>h1{
    
  font-family: montserrat;
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 100px;
  text-align: center;
}

.about-content{
  margin-right: 0px;
  font-family: montserrat;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
}

.about {
  display: inline-block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.about-image{

  margin-top: 30px;
}


/* projects */


.proj{
  display: inline-block;
  margin-bottom: 200px;
  flex-wrap: wrap;
  margin-left: 20px;
}

.proj-item{
  background-color: #6c6b70;
  background-size: 100px 300px;
  width: 420px;
  height: 300px;
  padding: 30px;
  margin-right: 0px;
  margin-top: 50px;
  border-radius: 10px;
  
}

.proj-item img {
  width: 100%;
}

.projects-head>h1{
  font-family: montserrat;
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 100px;
  text-align: center;
}


/*  */

.link-items{
  display: flex;
}

.link{
  margin-left: 30px;
  margin-top: 30px;
}

 .link>a{
  text-decoration: none !important;
  color: #ffffff;
 }

 .link1{
  background-color: #2e07f1;
  padding: 10px;
  border-radius: 3px;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
 }

 
  /*  contact */

  .contact{
    background-color: rgb(227, 206, 13);
    background-size: 100% 100%;
    width: 100%;
    padding: 20px;
    height: 420px;
    padding-top: 30px;
  }

  .hide {
    display: none;
  }

  .contact>h1{
    font-family: montserrat;
    font-size: 35px;
    font-weight: 600;
    color: #080807;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
  }
  .contact>p{
    font-family: montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #080807;
    text-align: center;
    margin-top: 20px;
    
  }

  .contact>p:nth-child(4){
    font-family: montserrat;
    font-size: 20px;
    font-weight: 600;
    color: #080807;
    text-align: center;
   
    padding-top: 20px;
    
  }
  .contact>p a{
    color: #080807;
    text-decoration: none;
  }

  .social-icon{
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }
  .icon-item{
    margin-right: 20px;
  }
 




